@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: cereal;
  src: url("/Cereal.otf");
}
@font-face {
  font-family: cereal-bold;
  src: url("/CerealBold.otf");
}
@font-face {
  font-family: cereal-medium;
  src: url("/CerealMedium.otf");
}
.rotation {
  animation: rotateImg 15s infinite linear reverse;
}
.rotation2 {
  animation: rotateImg 15s infinite linear;
}
@keyframes rotateImg {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
